.App {
    text-align: center;
  }
  
  .App-logo {
    height: 60vh;
    pointer-events: none;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
  }

  .App-link {
    font-family: 'Poppins', sans-serif;
    border: 2px solid #55298B;
    font-weight: 400;
    padding: 13px;
    border-radius: 20px;
    color: #FED005;
    background-color: #55298B;
    margin: 40px;
  }

  .App-link:hover {
    border: 2px solid #55298B;
    color: #55298B;
    background-color: white;
  }
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */